@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: #020707;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fafafa;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff7b00;
}

.hero {
    background: url("https://i.pinimg.com/1200x/27/97/c9/2797c97b43f864eaf9aca00317affe7d.jpg") center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(188, 188, 177);
    padding-top: 60px;
}

.hero-content {
    background: rgba(9, 6, 7, 0.6);
    padding: 30px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 15px 0;
}

.btn {
    background: #cc336b;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    background: #cc336b;
}

.gallery-section {
    padding: 80px 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}


footer {
    background: url("https://i.pinimg.com/1200x/df/10/fc/df10fc9cb52e731e2d798b394056a426.jpg") center/cover no-repeat;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
}


@media (max-width: 768px) {
    .nav-links {
        gap: 10px;
        font-size: 0.9rem;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

    .gallery img {
        width: 90%;
        height: auto;
    }
}
